* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
    background-image: none;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header__logo{
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
}

.header__search{
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}

.header-content__container{
    display: flex;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    background-color: #15151c;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25%;
  }
  .menu__item:hover {
    background-color: #12151c;
    color: lightgrey;
    cursor: pointer;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }