* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header__logo{
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
}

.header__search{
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
 width: 240px;
 margin: 10px;
 position: relative;
}

.movie__cover--inner{
    position: relative;
    height: 360px;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
}

.movie__cover--darkened{
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}


.movie__info{
    padding: 10px 0px;
}

.movie__title{
font-size: 16px;
color: #ffffff;
}

.movie__category{
    font-size: 14px;
    color: #ffd80e
}

.movie__average{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie__average--green{
border: 1px solid green
}

.movie__average--orange{
border: 1px solid orange
}

.movie__average--red{
border: 1px solid red
}

.arrows{
    color: grey;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    position: relative;
}

.arrow__left{
    width: 40px;
    height: 40px;
    transform: rotate(180deg);  
    cursor: pointer;
}

.arrow__right{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.arrow__left:hover{
    opacity: 0.5;
}

.arrow__right:hover{
    opacity: 0.5;
}

.arrow__pages{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 48%;
}

.hide {
    display: none;
}


.header-content__container{
    display: flex;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    background-color: #15151c;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25%;
  }
  .menu__item:hover {
    background-color: #12151c;
    color: lightgrey;
    cursor: pointer;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
    